# ignore all files at root
/*
!/*/
!/.gitignore
!/readme.md
!/readme.zh.md
!/LICENSE

build/
dist/
release/
icon/__discard/

# ignore family folder in src
src/family/

# ignore all temporary files and folders
__pycache__/
workbench/
family/*.*

# ignore all non-open source models
family/realesrgan-ncnn-vulkan/models/*
!family/realesrgan-ncnn-vulkan/models/realesr-animevideov3-x2.*
!family/realesrgan-ncnn-vulkan/models/realesr-animevideov3-x3.*
!family/realesrgan-ncnn-vulkan/models/realesr-animevideov3-x4.*
!family/realesrgan-ncnn-vulkan/models/realesrgan-x4plus*
!family/realesrgan-ncnn-vulkan/models/realesrgan-x4plus-anime.*
!family/realesrgan-ncnn-vulkan/models/RealESRGANv2-animevideo-xsx2.*
!family/realesrgan-ncnn-vulkan/models/RealESRGANv2-animevideo-xsx4.*
!family/realesrgan-ncnn-vulkan/models/realesr-general-wdn-x4v3.*
!family/realesrgan-ncnn-vulkan/models/realesr-general-x4v3.*
